<!DOCTYPE html>
<html>
    <head>
    <title>Profile</title>
    <meta charset="UTF-8"> 
    </head>

    <body>
    <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>

        <h1>Welcome, <%= current_user.username %>!</h1>
        <h4>Here is a List of Your Favorite Theme Parks!</h4>
        <br><br>
        <p>Click the park links to learn more</p>
        <br><br><br>

        <h4>Parks: </h4> 
        <br><br>
        <ul>
            <% @user.parks.each do |park| %> 
                <li><a href="/parks/<%= park.id %>"><%= park.name%></a></li>
            <% end %> 
        </ul>

        
        
        <br><br>
        Create New Park:
        <a href="/parks/new">New Park</a>
        <br><br>
        Logout:
        <a href="/logout">Log Out</a>
    </body>
</html>